{
    "openapi": "3.0.0",
    "info": {
        "title": "vereteno API",
        "description": "vereteno e-commerce API",
        "version": "1.0-beta"
    },
    "servers": [
        {
            "url": "http://1467739-cx71348.tw1.ru/api/v1",
            "description": "Development server"
        }
    ],
    "tags": [
        {
            "name": "Auth",
            "description": "Registration, login, logout"
        },
        {
            "name": "User",
            "description": "Operations with user"
        },
        {
            "name": "Product",
            "description": "Product operations"
        },
        {
            "name": "Category",
            "description": "Category operations"
        },
        {
            "name": "Cart",
            "description": "Operations with cart-items"
        }
    ],
    "components": {
        "schemas": {
            "Product": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    },
                    "category_id": {
                        "type": "integer"
                    },
                    "discount_id": {
                        "type": "integer"
                    },
                    "vendor_code_id": {
                        "type": "integer"
                    },
                    "price": {
                        "type": "number"
                    },
                    "quantity": {
                        "type": "integer"
                    }
                }
            },
            "Category": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    },
                    "level": {
                        "type": "integer"
                    },
                    "parent_id": {
                        "type": "integer"
                    }
                }
            },
            "CartItem": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "user_id": {
                        "type": "integer"
                    },
                    "product_id": {
                        "type": "integer"
                    },
                    "quantity": {
                        "type": "integer"
                    }
                }
            },
            "OrderItem": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "order_id": {
                        "type": "integer"
                    },
                    "product_id": {
                        "type": "integer"
                    },
                    "quantity": {
                        "type": "integer"
                    },
                    "amount": {
                        "type": "number"
                    },
                    "price": {
                        "type": "number"
                    }
                }
            },
            "VendorCode": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "size_id": {
                        "type": "string"
                    },
                    "material_id": {
                        "type": "string"
                    },
                    "color_id": {
                        "type": "string"
                    }
                }
            }
        },
        "securitySchemes": {
            "api_key": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    },
    "paths": {
        "/reg": {
            "post": {
                "summary": "Authorization for new user",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string"
                                    },
                                    "login": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "email",
                                    "login",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A JSON array of products",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "summary": "Authentication for exising user",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string"
                                    },
                                    "login": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "email",
                                    "login",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A JSON array of products",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "summary": "Logout for authenticated user",
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "A JSON array of products",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user": {
            "get": {
                "summary": "Info about authenticated user",
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "A JSON array of user info",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "summary": "Update user's info",
                "tags": [
                    "User"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "surname": {
                                        "type": "string"
                                    },
                                    "patronymic": {
                                        "type": "string"
                                    },
                                    "login": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "phone": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A JSON array of user info",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/product": {
            "get": {
                "summary": "Returns a list of products",
                "tags": [
                    "Product"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "limit": {
                                        "type": "integer"
                                    },
                                    "offset": {
                                        "type": "integer"
                                    },
                                    "orderBy": {
                                        "type": "string"
                                    },
                                    "orderDesc": {
                                        "type": "boolean"
                                    },
                                    "search": {
                                        "type": "string"
                                    },
                                    "materials": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "sizes": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "colors": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "attributes": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "categories": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "required": [
                                    "limit",
                                    "offset"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A JSON array of products",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/product/{id}": {
            "get": {
                "summary": "Returns a product",
                "tags": [
                    "Product"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A JSON products",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/product/list/attributes": {
            "get": {
                "summary": "Returns a list of product attributes",
                "tags": [
                    "Product"
                ],
                "responses": {
                    "200": {
                        "description": "A JSON list of product attributes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/product/list/colors": {
            "get": {
                "summary": "Returns a list of colors",
                "tags": [
                    "Product"
                ],
                "responses": {
                    "200": {
                        "description": "A JSON list of colors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/product/list/materials": {
            "get": {
                "summary": "Returns a list of materials",
                "tags": [
                    "Product"
                ],
                "responses": {
                    "200": {
                        "description": "A JSON list of materials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/product/list/sizes": {
            "get": {
                "summary": "Returns a list of sizes",
                "tags": [
                    "Product"
                ],
                "responses": {
                    "200": {
                        "description": "A JSON list of sizes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/category": {
            "get": {
                "summary": "Returns a list of categories",
                "tags": [
                    "Category"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "limit": {
                                        "type": "integer"
                                    },
                                    "offset": {
                                        "type": "integer"
                                    },
                                    "level": {
                                        "type": "integer"
                                    },
                                    "parent": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "limit",
                                    "offset"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A JSON array of categories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/category/{id}": {
            "get": {
                "summary": "Returns a category",
                "tags": [
                    "Category"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A JSON category",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cart-item": {
            "get": {
                "summary": "Returns all items in auth user cart",
                "tags": [
                    "Cart"
                ],
                "responses": {
                    "200": {
                        "description": "A JSON items",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add 1 product by it's id to auth user's cart",
                "tags": [
                    "Cart"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "productVendorCodeId": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "productVendorCodeId"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Boolean succeed or not"
                    }
                }
            },
            "delete": {
                "summary": "Removes all items from auth user cart",
                "tags": [
                    "Cart"
                ],
                "responses": {
                    "200": {
                        "description": "Boolean succeed or not"
                    }
                }
            }
        },
        "/cart-item/{id}": {
            "patch": {
                "summary": "Update item's quantity by it's id in auth user's cart",
                "tags": [
                    "Cart"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "quantity": {
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "quantity"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A JSON items",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Removes an item by it's id from auth user's cart",
                "tags": [
                    "Cart"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Boolean succeed or not"
                    }
                }
            }
        },
        "/order": {
            "get": {
                "summary": "Returns all auth user's orders",
                "tags": [
                    "Order"
                ],
                "responses": {
                    "200": {
                        "description": "A JSON items",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create new order for auth user",
                "tags": [
                    "Order"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "status": {
                                        "type": "string"
                                    },
                                    "paymentStatus": {
                                        "type": "string"
                                    },
                                    "paymentMethod": {
                                        "type": "string"
                                    },
                                    "cartItemIds": {
                                        "type": "array"
                                    },
                                    "country": {
                                        "type": "string"
                                    },
                                    "region": {
                                        "type": "string"
                                    },
                                    "city": {
                                        "type": "string"
                                    },
                                    "street": {
                                        "type": "string"
                                    },
                                    "postcode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A JSON items",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/order/{id}": {
            "patch": {
                "summary": "Update order's status by it's id",
                "tags": [
                    "Order"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "status": {
                                        "type": "string"
                                    },
                                    "paymentStatus": {
                                        "type": "string"
                                    },
                                    "paymentMethod": {
                                        "type": "string"
                                    },
                                    "cartItemIds": {
                                        "type": "array"
                                    },
                                    "country": {
                                        "type": "string"
                                    },
                                    "region": {
                                        "type": "string"
                                    },
                                    "city": {
                                        "type": "string"
                                    },
                                    "street": {
                                        "type": "string"
                                    },
                                    "postcode": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A JSON items",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

