openapi: 3.0.0
info:
  title: vereteno API
  description: vereteno e-commerce API
  version: 1.0-beta
servers:
  - url: 'http://1467739-cx71348.tw1.ru/api/v1'

tags:
  - name: Authentication and authorization
    description: Registration, login, logout
  - name: Product
    description: Product operations
  - name: Category
    description: Category operations
  - name: Cart
    description: Operations with cart-items

components:
  schemas:
    Product:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        slug:
          type: string
        category_id:
          type: integer
        discount_id:
          type: integer
        vendor_code_id:
          type: integer
        price:
          type: number
        quantity:
          type: integer
    Category:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        slug:
          type: string
        level:
          type: integer
        parent_id:
          type: integer
    CartItem:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        product_id:
          type: integer
        quantity:
          type: integer
    OrderItem:
      type: object
      properties:
        id:
          type: integer
        order_id:
          type: integer
        product_id:
          type: integer
        price:
          type: number
        amount:
          type: number
        quantity:
          type: integer
  securitySchemes:
    api_key:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  /reg:
    get:
      summary: Returns a list of products.
      tags:
        - Product
      responses:
        '200':
          description: A JSON array of products
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
  /login:
    get:
      summary: Returns a product.
      tags:
        - Product
      responses:
        '200':
          description: A JSON product
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /logout:
    get:
      summary: Returns a product.
      tags:
        - Product
      responses:
        '200':
          description: A JSON product
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /product:
    get:
      summary: Returns a list of products.
      tags:
        - Product
      responses:
        '200':
          description: A JSON array of products
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
  /product/{id}:
    get:
      summary: Returns a product.
      tags:
        - Product
      responses:
        '200':
          description: A JSON product
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /category:
    get:
      summary: Returns a list of categories.
      tags:
        - Category
      responses:
        '200':
          description: A JSON array of categories
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
  /category/{id}:
    get:
      summary: Returns a category.
      tags:
        - Category
      responses:
        '200':
          description: A JSON category
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /cart-item:
    get:
      summary: Returns all items in auth user cart.
      tags:
        - Cart
      responses:
        '200':
          description: A JSON items
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
    delete:
      summary: Removes all items from auth user cart.
      tags:
        - Cart
      responses:
        '200':
          description: A JSON category
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /cart-item/{id}:
    patch:
      summary: Update item's quantity by it's id in auth user's cart.
      tags:
        - Cart
      responses:
        '200':
          description: A JSON category
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
    post:
      summary: Add product by it's id to auth user's cart.
      tags:
        - Cart
      responses:
        '200':
          description: A JSON category
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
    delete:
      summary: Removes an item by it's id from auth user's cart.
      tags:
        - Cart
      responses:
        '200':
          description: A JSON category
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /order:
    get:
      summary: Returns all auth user's orders.
      tags:
        - Order
      responses:
        '200':
          description: A JSON items
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
    post:
      summary: Create new order for auth user.
      tags:
        - Order
      responses:
        '200':
          description: A JSON category
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /order/{id}:
    patch:
      summary: Update order's status by it's id.
      tags:
        - Order
      responses:
        '200':
          description: A JSON category
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
